.idea/dictionaries
.idea/workspace.xml

.coverage
.pytest_cache

htmlcov
coverage.xml

venv
Contents/Code/**/*.pyc

Virtualenv/*/*
Virtualenv/*/lib/*
Virtualenv/*/lib/python2.7/*
!Virtualenv/*/lib
!Virtualenv/*/lib/python2.7
!Virtualenv/*/lib/python2.7/site-packages

Contents/Virtualenv/*/*
Contents/Virtualenv/*/lib/*
Contents/Virtualenv/*/lib/python2.7/*
!Contents/Virtualenv/*/lib
!Contents/Virtualenv/*/lib/python2.7
!Contents/Virtualenv/*/lib/python2.7/site-packages
