<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>CFBundleIdentifier</key>
        <string>com.nicholasworkshop.javplexagents</string>
        <key>PlexFrameworkVersion</key>
        <string>2</string>
        <key>PlexPluginClass</key>
        <string>Agent</string>
        <key>PlexPluginCodePolicy</key>
        <string>Elevated</string>
        <key>PlexAgentAttributionText</key>
        <string>Work of passion</string>
    </dict>
</plist>